body {
  background-color: rgb(208, 184, 213);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  margin: 0 0 10px;
  font-size: 30px;
}
select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 36px;
}

.container {
  max-width: 700px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dotted grey;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
